
/* .navigation{
    position: relative;
    width: 40px;
    height: 40px;
    right: 0;
    top: -10px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.8s;
}

.navigation.active{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}

.navigation span{
    position: absolute;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    transform: translate(calc((12px)*var(--x)), calc((12px)*var(--y)));
    transition: 0.5s,width 0.5s, height 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.navigation.active span{
    width: 45px;
    height: 45px;
    background: #333849;
    transform: translate(calc((60px)*var(--x)), calc((60px)*var(--y)));
}

.navigation span i{
    font-size: 0;
    transition: 0.5s
  }

.navigation.active span i{
    font-size: 1.35em;
    color: white;
}

.navigation.active span:hover i{
    color: #2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 15px #2dfc52);
} */
.nav-bar {
    position: absolute;
    color: white;
    right: 0;
    background: #040925;
    margin-right: 10px;
    border-radius: .5rem;
    padding: 14px 13px;
    z-index: 1;
}

.nav-bar .nav-content div {
    padding: 5px 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.nav-bar .nav-content div a {
    text-decoration: none;
    color: white;
}

.nav-bar .nav-content div i {
    margin-right: 10px;
}


.nav-bar .nav-content div:hover {
    color: #040925;
    background: #f9f9ff;
    filter: drop-shadow(0 0 2px #f9f9ff) drop-shadow(0 0 15px #f9f9ff);
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.nav-bar .nav-content div:hover a{
    color: #040925;
}

.nav-bar .nav-content div:hover::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 34px;
    /* height: 75px; */
    /* clip-path: polygon(33% 29%, 90% 20%, 89% 82%, 98% 12%, 92% 85%, 91% 84%, 58% 78%, -11% 74%, 0% 30%, 50% 26%);
    top: -22px; */
    top: 0;
    right: -13px;
    background: #f9f9ff;
    filter: drop-shadow(0 0 0 #f9f9ff) drop-shadow(0 0 0 #f9f9ff);
}

.sign-btn {
    position: relative;
    margin-top: 150px;
}

.sign-btn a {
    display: flex;
    padding: 3px 5px;
    border-radius: .5rem;
    border: 1px solid #f9f9ff;
    justify-content: center;
    margin-bottom: .5rem;
}

.sign-btn a {
    color: #f9f9ff;
    text-decoration: none;
}

.sign-btn a:hover {
    background: #fde9f6;
    filter: drop-shadow(0 0 2px #fde9f6) drop-shadow(0 0 2px #fde9f6);
}

.sign-btn a:hover span {
    color: #040925;
}

.sign-btn a:nth-child(1)::after {
    content: '\F44F';
    font-family: bootstrap-icons !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height:32px;
    top: 0;
    right: -10px;
    color: #6f64b3;
    font-size: 1.2rem;
    border-radius: .5rem;
}

.sign-btn a:nth-child(2)::after{
    content: '\f1be';
    font-family: bootstrap-icons !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height:32px;
    top: 41px;
    right: -6px;
    color: #6f64b3;
    font-size: 1.2rem;
    border-radius: .5rem;
}

.sign-btn a:hover::after {
    top: unset;
    padding: 0;
}
